<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <listener-class>Database.InitConnexion</listener-class>
    </listener>
    <servlet>
        <servlet-name>ServletConnexion</servlet-name>
        <servlet-class>servlet.ServletConnexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletClient</servlet-name>
        <servlet-class>servlet.ServletClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletVente</servlet-name>
        <servlet-class>servlet.ServletVente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletHome</servlet-name>
        <servlet-class>servlet.ServletHome</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>ServletTypeCheval</servlet-name>
        <servlet-class>servlet.ServletTypeCheval</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPays</servlet-name>
        <servlet-class>servlet.ServletPays</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAdmin</servlet-name>
        <servlet-class>servlet.ServletAdmin</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ServletConnexion</servlet-name>
        <url-pattern>/ServletConnexion/afficherLoginForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletClient</servlet-name>
        <url-pattern>/ServletClient/listerLesClientsParCategVente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletHome</servlet-name>
        <url-pattern/>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVente</servlet-name>
        <url-pattern>/ServletVente/listerLesVentes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVente</servlet-name>
        <url-pattern>/ServletVente/listerLesCourrielsParVentes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVente</servlet-name>
        <url-pattern>/ServletVente/listerLesChevauxParVente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVente</servlet-name>
        <url-pattern>/ServletVente/listerLesPiecesJointes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletClient</servlet-name>
        <url-pattern>/ServletClient/ajouterClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletClient</servlet-name>
        <url-pattern>/ServletClient/listerLesCourses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletClient</servlet-name>
        <url-pattern>/ServletClient/listerLesInformationsCourses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPays</servlet-name>
        <url-pattern>/ServletPays/listerLesPays</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPays</servlet-name>
        <url-pattern>/ServletPays/ajouterPays</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletTypeCheval</servlet-name>
        <url-pattern>/ServletTypeCheval/ajouterUneRace</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletTypeCheval</servlet-name>
        <url-pattern>/ServletTypeCheval/listerLesRaces</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    <servlet-name>ServletClient</servlet-name>
        <url-pattern>/ServletClient/consulterProfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    <servlet-name>ServletVente</servlet-name>
        <url-pattern>/ServletVente/listerLesCategVentes</url-pattern> 
    </servlet-mapping>
    <servlet-mapping>
    <servlet-name>ServletAdmin</servlet-name>
        <url-pattern>/ServletAdmin/listerLesClients</url-pattern> 
    </servlet-mapping>
    
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
